# Ignore Mac system files
.DS_Store

# Ignore Python temporary files
__pycache__/
*.pyc

# Ignore Virtual Environments
venv/
env/

# Ignore the raw data (optional - good if the file is huge)
# MobileSalesData.xlsx